exportPattern("^[[:alpha:]]+")
import(MASS)
import(Matrix)
import(methods)
import(reshape2)
import(survival)
import(wesanderson)
S3method(plot, CIF)
S3method(summary, CIF)
importFrom("graphics", "lines", "par", "plot")
importFrom("methods", "is")
importFrom("stats", "model.frame", "model.matrix", "model.response", "qnorm", "setNames")